.vscode/
extern/*
!extern/download.sh
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# documentation
doc/api/
doc/xml/
doc/_build
doc/src/namespace
doc/src/namespacelist.rst
doc/src/file
doc/src/filelist.rst
doc/src/struct
doc/src/structlist.rst
doc/src/class
doc/src/classlist.rst
